@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body, html {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  position: relative;
  z-index: 1;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Added a white background with some transparency */
  border-radius: 10px; /* Rounded corners for the container */
  max-width: 400px; /* Maximum width for the main container */
  margin: auto; /* Centering the container */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Light shadow effect */
}

.img {
  background: url('https://images.unsplash.com/photo-1564013799919-ab600027ffc6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(15px);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.switch-field {
  display: flex;
  margin-bottom: 36px;
  overflow: hidden;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #a5dc86;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

.form {
  max-width: 100%; /* Make form responsive */
  font-weight: normal;
  line-height: 1.625;
  margin: 8px auto;
  padding-left: 16px;
}

h2 {
  font-size: 18px;
  margin-bottom: 8px;
}

.area, .location, .submit, .result {
  outline: 0;
  background: #f2f2f2;
  width: 100%; /* Full width for inputs */
  border: 0;
  margin: 0 0 10px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 15px;
  border-radius: 5px;
}

.submit {
  background: #a5dc86;
  margin-top: 25px;
  height: 35px;
  text-align: center;
}

.result {
  background: #dcd686;
  margin-top: 25px;
  padding: 10px; /* Added padding to ensure content is not flush against the edges */
  border-radius: 5px; /* Added rounded corners */
  text-align: center;
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  height: auto; /* Allow height to adjust based on content */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: add a shadow for better visibility */
}

.error {
  color: red;
  margin-top: 10px; /* Space above error message */
  text-align: center; /* Center the error message */
}
